<nav class="nav navbar-default">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">website</a>
    </div>
    <ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>
     <li><a href="#">page 1</a></li>
     <li><a href="#">page 2</a></li>
     <li><a href="#">page 3</a></li>
     <li><a href="#">page 4</a></li>
    </ul>
    </div>
    </nav>