  
<link rel="stylesheet" type="text/css" type="text/css" href="../login-style.css">
<div class="login-page">
  <div class="form">
    <h3><%= username%></h3>
    <p><a href="/logout">Log out</a></p>
  </div>
</div>